<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-4">
				<img alt="MEAN.JS" class="img-responsive text-center" size="100x100" src="modules/core/img/brand/yaoming.jpg" />
			</div>
      <div class="col-md-8">
        <h1> Sample application can work well in mobole devices</h1>
        <h2> Full stack meanJS applicaion </h2>
      </div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
		    Just a sample application
			</p>
		</div>
		<div class="row">
			<p>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
			</h2>
		</div>
		<div class="col-md-3">
			<h2>
			</h2>
		</div>
		<div class="col-md-3">
			<h2>
			</h2>
		</div>
		<div class="col-md-3">
			<h2>
			</h2>
		</div>
	</div>
	<div class="well">
		<p>
		</p>
	</div>
</section>
